

.ui-autocomplete 
{
	 overflow:auto;
	 position: absolute;
	 cursor: default;
	 border: 1px solid #aaaaaa;
	 font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
	 font-size: 12px/*{fsDefault}*/;
	 background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
}
/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	/*
	float: left;
	clear: left;
	width: 100%;*/
}

.ui-menu .ui-menu-itemHover
{

  border: 1px solid #999999/*{borderColorHover}*/; 
  background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; 
  color: #212121/*{fcHover}*/;
}

 .ui-menu-item a,.ui-menu .ui-menu-itemHover a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
    line-height :20px;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
.combo{
	display:inline-block;
	white-space:nowrap;
	font-size:12px;
	margin:0;
	padding:0;
	border:1px solid #A4BED4;
	background:#fff;
}
.combo-text{
	font-size:12px;
	border:0px;
	line-height:20px;
	height:20px;
	padding:0px;
	*height:18px;
	*line-height:18px;
	_height:18px;
	_line-height:18px;
}

.combo-arrow{
	background:#E0ECF9 url('images/combo_arrow.gif') no-repeat 3px 4px;
	width:18px;
	height:20px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
	opacity:0.6;
	filter:alpha(opacity=60);
}